@model IEnumerable<Model.Models.Result>
@{ 

    int number = 1;
}

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th> Id</th>
                <th> Hotel Name</th>
                <th>Test Type</th>
                <th>Result</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>
                @(number++)
            </td>

            <td>
                @item.Hotel.HotelName
            </td>
            <td>
                @item.Test.Type
            </td>

            <td>
                @item.Output
            </td>
        </tr>
            }
        </table>
    }
    else
    {
        <p>Listelenecek herhangi bir otel bulunamadı</p>
    }
</div>