
@model TestApplication.ViewModel.HotelsAndTests
<br />
<br />

<form asp-action="Go" method="post" asp-controller="HotelTestController">
    <div class="grid-container">

        <div class="grid-child 1">
            <select name="hotelId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Select a hotel</option>
                @foreach (var item in Model.hotels)
                {
                    <option value="@item.HotelId">@item.HotelName</option>
                }
            </select>
        </div>

        <div class="grid-child 2">
            <select name="testId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Select a test</option>
                @foreach (var item in Model.tests)
                {
                    <option value="@item.TestId">@item.Type</option>
                }
            </select>
        </div>

        <div class="grid-child 3">
            <button class="btn btn-success" type="submit" asp-action="Go">Go</button>
        </div>

    </div>
</form>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 20px;
    }
</style>